h1{
    text-align: center;
    color: magenta;
}
body{
    background-image: url(./images/backgroung1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: inherit;
    opacity: 80%;
}
nav{
    background-color: rgba(17, 20, 24, 0.9);
    margin: 5px -8px 0px -8px;
    text-align: left;
    padding: 25px;
    display: flex;
}
nav>ul li{
    list-style: none;
    display: inline;
    padding-right: 100px;
}
ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200px;
    line-height: normal;
}
.profile>p,ul{
    text-align: center;
    color: black;
    font-size: larger;
    align-items: center;

}
.image{
    border-radius: 80%;
    height: 300px;
    width: 800px;
    margin-left: 500px;
    margin-top: 100px;
    background-color: rgb(163, 176, 194);
    opacity: 40%;
}
#pic{
    height: 220px;
    width: 220px;
    float: left;
    margin-left: 35px;
}
#des{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
    font-weight: bold;
    }
    .profile>h2{
        color: white;
        text-align: center;
        font-size: larger;
    }
    .languages>ul,ol,li{
        list-style: none;
        
    }
   strong{color: white;
}
em{
    color: rgb(0, 183, 255);
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #131414;
    color: whitesmoke;
    margin-top: 50px;
    margin: 50px -8px -8px -8px;
    padding: 5px 50px 5px 50px;
}
.contact p{
    font-size: 17px;
}
footer p, a{
    color:whitesmoke;
    font-size: 17px;
    text-decoration: none;
}