h1{
    text-align: center;
    color: magenta;
}
body{
    background-image: url(./images/backgroung1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: inherit;
    opacity: 80%;
}
nav{
    background-color: rgba(17, 20, 24, 0.9);
    margin: 5px -8px 0px -8px;
    text-align: left;
    padding: 25px;
    display: flex;
}
nav>ul li{
    list-style: none;
    display: inline;
    padding-right: 100px;
}
ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200px;
    line-height: normal;
}